<tr id="book-<%= book.id %>">
    <td><%= book.title %></td>
    <td><%= book.author %></td>
    <td><%= book.sku %></td>
    <td><%= book.stock %></td>
    <td><%= book.price %></td>
    <td><%= link_to 'Show', book, remote: true %></td>
    <% if user_signed_in? %>
        <td><%= link_to 'Edit', edit_book_path(book), remote: true %></td>
        <td><%= link_to 'Destroy', book, remote: true, method: :delete %></td>
    <% end %>
</tr>